footer {
  background: $black;
  color: $light_grey;
  margin: 0;
  padding: 110px 0 0px;
  position: relative;

  p {
    padding: 0 0 30px;
    margin: 0;
    text-align: center;
  }

  a {
    text-shadow: 0 0 4px white;

    &:link,
    &:visited,
    &:active {
      color: white;
    }

    &:hover {
      color: white;
    }
  }

  #footer_bg {

    height: 25px;
    width: 100%;
    background-size: 62px 52px;
  }

  .footer_top {
    border-bottom: solid 1px white;
    margin-bottom: 20px;

    p {
      text-align: left;
      margin-bottom: 20px;
    }

    input {
      font-size: 1.5em;
      padding: 9px;
      border: 0;
    }

    input[type="submit"] {
      cursor: pointer;
      transition: all 0.3s;

      &:hover,
      &:focus,
      &:active {
        background: #998f00;
      }
    }

    @media(min-width:$mobile_width) {
      .form_col {
        margin-top: 62px;
      }
    }
  }
}